body{
    overflow: hidden;
}
#worldCont{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.cent{
    display: flex;
    justify-content: center;
    align-items: center;
}
#boatCont{
    width: 700px;
    height: 400px;
    position: relative;
}
#boatBase{
    width: 100%;
    height: 40%;
    background-color: gray;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 100% 50%;
}
#boatBaseMid{
    background-color: cyan;
    min-width: 115%;
    height: 50%;
    z-index: 1;
    border-radius: 20% 0 100% 50%;
    position: absolute;
    bottom: 12%;
    right: -10%;
    rotate: -1deg;
}
#boatBaseMid::before{
    content: "";
    position: absolute;
    border-right: 0px solid transparent;
    border-left: 20px solid transparent;
    border-top: cyan 20px solid;
    right: -4.6%;
    top: 22.5%;
    scale: 545%;
    rotate: -90deg;
}