:root{
    --main: #0b090a;
    --ui: #161a1d;
    --text: #b1a7a6;
    --gyro: red;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: var(--main);
    margin: 0;
    color: var(--text);
    width: 100%;
    overflow-x: hidden;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 9vh;
    background-color: var(--ui);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}
.bigMenu{
    gap: 2em;
}
.menuButtons{
    gap: 1em;
}
.menuButtons a{
    font-size: 20px;
    cursor: pointer;
}
button{
    background-color: none;
}
.menu{
    width: 6em;
    height: 3em;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    right: 0;
    transition: 1s;
}
.menuStripes{
    width: 50%;
    background-color: var(--text);
    height: 6px;
}
header a{
    font-size: 32px;
    text-decoration: none;
    color: var(--text);
}
footer{
    height: 40vh;
    background-color: var(--ui);
    display: flex;
    align-items: center;
    bottom: 0;
    z-index: 2;
    position: relative;
}
.wrapper{
    position: relative;
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 11em auto;
    gap: 10em;
    min-height: 70vh;
}
p{
    font-size: 18px;
}
.aboutMe{
    padding: 2em;
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-areas: 
    "I H"
    "I T";
    gap: 2em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    background-color: #161a1d9c;
    border-radius: 1em;
}
.aboutMe img{
    width: 100%;
    position: relative;
    bottom: 2em;
    border-radius: 100%;
}
.aboutMe .imgCont{
    grid-area: I;
}
.imgPortrait{
    background-color: black;
    overflow: hidden;
    border-radius: 2em;
}
.aboutMe h1{
    position: relative;
    text-align: center;
    font-size: 45px;
}
.sliderWrapper{
    position: relative;
    min-width: 70vw;
    max-height: 70vh;
    color: var(--text);
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height:70vh;
}
.cheekyBarHider{
    background-color: var(--main);
    height: 2.5em;
    position: relative;
    bottom: 18px;
}
.sliderElement{
    flex: 1 0 100%;
    scroll-snap-align: start;
    overflow: hidden;
}
.sliderNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.sliderNav a{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--text);
    opacity: 0.75;
    transition: 0.3s;
}
.sliderNav a:hover{
    opacity: 1;
}
#skullCont{
    background-color: black;
    width: 55px;
    height: 40px;
    border-radius: 20px;
    flex-direction: column;
    position: absolute;
    border: solid white 2px;
    z-index: 3;
}
#skullEyeCont{
    width: 40px;
    height: 15px;
    position: relative;
    justify-content: space-evenly;
    gap: 10px;
    top: 4px;
}
.skullEye{
    background-color: white;
    border-radius: 90px;
    width: 12px;
    height: 18px;
}
#skullNose{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid white;
    position: relative;
    z-index: 2;
    bottom: 2px;
    scale: 70%;
}
#skullNose::before{
    content: "";
    position: relative;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid black;
    top: 7px;
}
#skullJaw{
    background-color: black;
    width: 30px;
    height: 12px;
    position: absolute;
    border-radius: 5px;
    bottom: -10px;
    border: solid white 2px;
    border-top: none;
    justify-content: space-evenly;
}
#skullJaw::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 80%;
    height: 2px;
}
.skullTooth{
    background-color: white;
    width: 2px;
    height: 60%;
}
#bonesCont{
    width: 90px;
    height: 90px;
    position: absolute;
}
.bone{
    background-color: black;
    height: 100%;
    width: 8px;
    position: absolute;
    border: solid white 2px;
    rotate: 45deg;
}
#bonesCont .bone:last-child{
    rotate: -45deg;
}
.bonePoint{
    position: absolute;
    width: 16px;
    height: 8px;
    background-color: black;
    border-radius: 4px;
    border: solid white 2px;
}
.bone .bonePoint:first-child{
    top: -8%;
}
.bone .bonePoint:last-child{
    bottom: -8%;
    rotate: 180deg;
}
.skullEyeBall{
    background-color: black;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: relative;
    bottom: 2px;
}
#skullPortrait{
    max-width: 30%;
    height: auto;
    color: red;
    scale: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3em;
}
#skullContBig{
    width: 4em;
}
.txtCont{
    z-index: 3;
    width: 100px;
    text-align: center;
}
#sl1{
    position: relative;
}
#sl2{
    color: var(--text);
    font-size: 40px;
    position: relative;
}
#sl2 img{
    height: 20vh;
}
#sl3{
    display: flex;
    flex-direction: column;
    color: var(--text);
    font-size: 20px;
    position: relative;
}
#sl3 img{
    height: 20vh;
}
.slider .slideLink{
    position: absolute;
    width: 50%;
    height: 70%;
    z-index: 3;
}
#rotator{
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 12em;
}
#endPoints{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
#endPoints *{
    background-color: var(--ui);
    height: 100%;
    width: 4%;
}
#endPoints div:first-child{
    border-radius: 1em 0 0 1em;
}
#endPoints div:last-child{
    border-radius: 0 1em 1em 0;
}
#gyros{
    height: 80%;
    width: 100vw;
    position: relative;
}
#gyro1, #gyro2{
    position: absolute;
    width: 100vw;
    height: 100%;
    background: repeating-linear-gradient(30deg, var(--gyro), var(--gyro) 15px, transparent 15px, transparent 50px);
    justify-content: space-evenly;
    font-size: 40px;
}
#gyro1{
    animation: moveLeft1 20s infinite linear;
}
@keyframes moveLeft1 {
    50%{
        transform: translateX(-100%);
    }
    50.01%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(0);
    }
}
#gyro2{
    transform: translateX(100%);
    animation: moveLeft2 20s infinite linear;
}
@keyframes moveLeft2 {
    100%{
        transform: translateX(-100%);
    }
}
#gyros h1{
    color: white;
}

#nukeButtonCont{
    background-color: rgb(65, 62, 62);
    width: 15vw;
    height: 25vh;
    margin: auto;
    border-radius: 4px;
    position: relative;
}
#buttonPlatform{
    background-color: rgb(22, 22, 22);
    padding: 1em;
    border-radius: 8px;
    position: relative;
    width: 90px;
    height: 90px;
    z-index: 2;
}
#coverGlass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 90%;
    z-index: 3;
    border-radius: 4px;
    transition: 1s;
}
.movedGlass{
    transform: translateY(-100%);
}
#bigButton {
    display: inline-block;
    position: absolute;
    padding: 20px 20px;
    border: 2px solid #ff0000;
    border-radius: 100%;
    background: linear-gradient(to bottom, #ff4d4d, #ff0000);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    transition: 0.3s, transform 0.2s;
}
  

#bigButton:active {
    transform: translateY(2px);
}
#warningLightsCont1, #warningLightsCont2{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}
#warningLightsCont1{
    top: 0;
}
#warningLightsCont2{
    bottom: 0;
}
.warningLight{
    background-color: rgb(22, 22, 22);
    border-radius: 1em;
    width: 30px;
    height: 30px;
    margin: 1em;
    position: relative;
}
.warningLight::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    z-index: 2;
}
.lightBeamCont{
    position: absolute;
    width: 180%;
    height: 180%;
    border-radius: 100%;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "w w"
    "w w";
}
.flashingLights{
    background-color: red;
    opacity: 0.65;
}
.spinLights{
    animation: spin infinite 1s linear;
}
@keyframes spin{
    100%{
        rotate: 360deg;
    }
}
#deployChute{
    position: absolute;
    background-color: var(--main);
    bottom: 0;
    height: 24%;
    width: 0;
    transition: width 0.8s ease;
    z-index: 0;
}
#deployChute.active {
    width: 50%;
}
.dropBomb{
    animation: dropIt 4s ease-in;
}
@keyframes dropIt{
    100%{
        transform: translate(-3000px, 3000px);
    }
}

#theBomba{
    width: 500px;
    height: 200px;
    display: flex;
    margin: auto;
    scale: 18%;
    position: absolute;
    rotate: -45deg;
    z-index: 0;
}
#bombaRotationCont{
    display: flex;
    width: 500px;
    height: 200px;
    position: absolute;
}
.rotateBomb{
    animation: rotate 4s linear;
}
@keyframes rotate{
    100%{
        rotate: -45deg;
    }
}

#bombaTip{
    background-color: #1b1d22;
    z-index: -1;
    width: 45%;
    height: 50%;
    scale: 200%;
    transform: translateY(25%);
    border-radius: 100% 0 0 100%;
    
}
#bombaBody{
    background-color: #1b1d22;
    width: 80%;
}
#reactorBelt{
    background-color: gray;
    height: 100%;
    width: 50px;
    position: relative;
    border: solid black 4px;
    box-sizing: border-box;
}
#reactor{
    background-color: rgb(128, 7, 7);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid black 4px;
    position: absolute;
}
#bombaTailCont{
    width: 70%;
}
#bombaTail{
    position: absolute;
    border-top: transparent solid 100px;
    border-bottom: transparent solid 100px;
    border-left: solid var(--ui) 250px;
}
#bombaTailStreamer{
    position: absolute;
    background-color: gray;
    border: solid black 3px;
    width: 200px;
    height: 30px;
    transform: translate(-60%,-50%);
    border-radius: 90px;
}
#bombaTailStreamer::before, #bombaTailStreamer::after{
    background-color: black;
    content: "";
    position: absolute;
    width: 15px;
    height: 40px;
    left: 55%;
}
#bombaTailStreamer::before{
    top: 100%;
}
#bombaTailStreamer::after{
    bottom: 100%;
}
.bombaTailPiece{
    position: absolute;
    background-color: gray;
    width: 100px;
    height: 100px;
    right: -50px;
    z-index: -1;
    border: solid black 4px;
}
.bombaTailPiece::before{
    content: "";
    position: absolute;
    border-bottom: transparent solid 100px;
    border-right: solid gray 70px;
    transform: translateX(-100%);
}
.bombaTailPiece:first-child{
    bottom: 0;
}
.bombaTailPiece:first-child::before{
    border-top: transparent solid 100px;
    border-right: solid gray 70px;
}
#bombBlast{
    background-color: rgb(211, 139, 5);
    border: solid red 2px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    transform: translateY(50%);
    transition: 1s;
    z-index: 3;
}
.boom{
    animation: goBoom 5s ease-in forwards;
}
@keyframes goBoom{
    95%{
        width: 100px;
        height: 100px;
    }
    100%{
        width: 400px;
        height: 400px;
    }
}
#shockWaveLimiter{
    height: 100%;
    width: 100%;
    align-items: end;
    overflow: hidden;
}
#shockWave{
    width: 400px;
    height: 400px;
    border: solid white 12px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.expandShock{
    animation: expand 0.5s linear 2;
}
@keyframes expand{
    100%{
        width: 3000px;
        height: 3000px;
    }
}
#effectCont{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}
.flash{
    animation: flasher 0.25s linear 4;
}
@keyframes flasher{
    100%{
        background-color: white;
    }
}
.nukeShake{
    animation: shake 0.5s linear 15;
}
@keyframes shake {
    25%{
        rotate: 0.5deg;
    }
    50%{
        rotate: -0.5deg;
    }
    75%{
        rotate: 0.5deg;
    }
}
#deathBeam{
    position: absolute;
    background-color: rgb(211, 139, 5);
    border: solid red 12px;
    border-top: none;
    border-bottom: none;
    height: 400vh;
    width: 10vw;
    z-index: 2;
}
.fadeToLight{
    animation: fade 5s linear;
}
@keyframes fade{
    50%{
        width: 100vw;
        background-color: rgb(211, 139, 5);
    }
    100%{
        background-color: white;
        width: 100vw;
    }
}
/* #gyro2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, #3498db, #3498db 15px, transparent 15px, transparent 50px);
} */

/* animasjon for nav bar knappen */

@media (orientation: landscape) {
    .closed {
        position: absolute;
        right: -10vw;
        transition: 1s;
        animation: fadeOutText 0.5s forwards;
    }
    @keyframes fadeOutText {
        100%{
            opacity: 0;
        }
    }
    .open {
        position: absolute;
        right: 10vw;
        transition: 1s;
        animation: fadeInText 1s forwards;
        opacity: 0;
    }
    @keyframes fadeInText {
        100%{
            opacity: 1;
        }
    }
}
.menuButtonsPortrait{
    background-color: var(--ui);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuButtonsPortrait *{
    width: 100%;
    padding: 0.5em;
    padding-left: 3em;
    color: var(--text);
    text-decoration: none;
}
.menuButtonsPortrait *:hover{
    background-color: rgba(10, 10, 10, 0.486);
}
.rotate{
    rotate: 90deg;
}
#cityFootCont{
    width: 100%;
    position: relative;
    height: 40vh;
    background-image: url("src/darkCity.png");
    background-size: contain;
    align-items: end;
}
@media (orientation: portrait) {
    .aboutMe{
        grid-template-areas: 
        "I"
        "H"
        "T";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr 1fr;
    }
    #sl2{
        font-size: 20px;
    }
    #sl2 img{
        height: 10vh;
    }
    .menuButtons, #nukeButtonCont, #rotator, #cityFootCont{
        display: none;
    }
}