:root {
    --main-color: black;
    --secondary-color: white;
    --third-color: gold;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    overflow: hidden;
}
.binger{
    display: flex;
    justify-content: center;
    align-items: center;
}
#eyeCenteringCont{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#eye{
    width: 40px;
    height: 40px;
    position: relative;
}
#eyeDetails{
    position: absolute;
    rotate: 45deg;
    border: solid rgb(168, 160, 160) 3px;
    width: 40px;
    height: 40px;
    border-radius: 70px 0 70px 0;
    transition: 0.5s;
}
.eyesocket{
    width: 15px;
    height: 15px;
    background-color: var(--secondary-color);
    border-radius: 90px;
    position: absolute;
}
.finalPhaseDetails{
    border-radius: 28px 0 28px 0 !important;
}
.finalPhaseDetails .eyesocket{
    background-color: purple !important;
    width: 20px;
    height: 20px;
    transition: 0.5s;
} 
.eyeAnimate{
    animation: blin 0.5s forwards;
}
@keyframes blin{
    100%{
        background-color: var(--secondary-color);
    }
}
.eyeMover{
    animation: moving 5s forwards linear infinite;
}
@keyframes moving{
    10%{
        transform: translate(0px, -200px);
    }
    20%{
        transform: translate(200px, -175px);
    }
    30%{
        transform: translate(200px, 25px);
    }
    40%{
        transform: translate(-200px, 150px);
    }
    50%{
        transform: translate(0px, 150px);
    }
    60%{
        transform: translate(0px, 0px);
    }
    70%{
        transform: translate(-200px, -20px);
    }
    80%{
        transform: translate(-200px, -200px);
    }
    90%{
        transform: translate(-30px, -220px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
.lastPhaseEye{
    animation: goRight 3s linear forwards;
}
@keyframes goRight{
    30%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(+600px);
    }
}
#spinnerClock{
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid var(--third-color) 15px;
    border-radius: 90px;
    animation: spin 2s infinite forwards linear;
}
.pertruders{
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: var(--third-color);
}
#spinnerClock .pertruders:first-child{
    right: 0;
}
#spinnerClock .pertruders:nth-child(2){
    left: 0;
}
#spinnerClock .pertruders:nth-child(3){
    top: 0;
    rotate: 90deg;
}
#spinnerClock .pertruders:nth-child(4){
    bottom: 0;
    rotate: 90deg;
}
#clock2{
    min-width: 210px;
    height: 210px;
    animation: spin 3s infinite linear;
    border: solid var(--third-color) 15px;
}
#clock3{
    min-width: 340px;
    height: 340px;
    position: absolute;
    animation: spin 3s infinite linear;
}
.star{
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    position: absolute;
    transform: rotate(20deg);
    animation: spin 3s infinite linear reverse;
}
.star:before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--secondary-color);
    transform: rotate(135deg);
}
.smallEyes{
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    rotate: 23deg;
    border-radius: 40px 0px 40px 0px;
    position: absolute;
}
.smallerEyes{
    width: 8px;
    position: absolute;
    height: 8px;
    background-color: var(--third-color);
    border-radius: 90px;
}
#clock3 .star:first-child{
    top: 0;
}
#clock3 .star:nth-child(2){
    right: 0;
}
#clock3 .star:nth-child(3){
    left: 0;
}
#clock3 .star:last-child{
    bottom: 0;
}
@keyframes spin{
    100%{
        rotate: 360deg;
    }
}
.spinnerCounter{
    position: absolute;
    width: 130px;
    height: 130px;
    border: solid var(--secondary-color) 15px;
    animation: spinCounter 4s linear infinite;
}
@keyframes spinCounter{
    100%{
        rotate: -360deg;
    }
}
#count1, #count2, #count3, #count4{
    width: 15px;
    height: 15px;
    border: solid var(--secondary-color) 5px;
    position: absolute;
    margin: 5px;
    animation: spinCounter 1.5s infinite linear;
}
.smallBall{
    width: 8px;
    height: 8px;
    border-radius: 90px;
    background-color: var(--third-color);
}
#count1{
    top: 0;
    left: 0;
}
#count2{
    top: 0;
    right: 0;
}
#count3{
    bottom: 0;
    right: 0;
}
#count4{
    bottom: 0;
    left: 0;
}
#effectCont{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.wakeEffect{
    animation: spasm 0.5s linear;
}
@keyframes spasm{
    25%{
        background-color: var(--secondary-color);
    }
    50%{
        background-color: transparent;
    }
    75%{
        background-color: var(--secondary-color);
    }
    100%{
        background-color: transparent;
    }
}
#beamCont{
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    opacity: 0.4;
}
.lazerBeam{
    width: 99vw;
    height: 20vh;
    margin-top: 20px;
}
.lazerBeamWarning{
    position: absolute;
    right: 0;
    width: 50px;
    height: 20vh;
}
.activelyWarning{
    animation: warning 1s linear;
    animation-iteration-count: 2;
}
@keyframes warning{
    50%{
        background-color: var(--secondary-color);
    }
    100%{
        background-color: transparent;
    }
}
#player{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    position: absolute;
    border: solid gray 4px;
}
#UI{
    position: absolute;
    top: 85%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    z-index: 4;
}
#healthBar{
    border-radius: 70px;
    border: solid gray 12px;
    width: 300px;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
}
.health{
    background-color: green;
    width: 20px;
    height: 50px;
    flex: 1;
}
#shieldBar{
    border-radius: 70px;
    position: absolute;
    border: solid gray 12px;
    width: 300px;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
}
.shield{
    width: 20px;
    height: 50px;
    flex: 1;
}
#sparkle{
    position: absolute;
    min-width: 16px;
    max-width: 16px;
    min-height: 4px;
    max-height: 4px;
    background-color: var(--third-color);
    left: 20%;
    top: 20%;
    justify-content: center;
    z-index: 3;
}
#sparkleVert{
    position: relative;
    min-width: 4px;
    max-width: 4px;
    min-height: 20px;
    max-height: 20px;
    bottom: 6px;
    background-color: var(--third-color);
}
.sparkling{
    animation: sparkle 2s linear;
}
@keyframes sparkle{
    100%{
        transform: translateY(-20px);
    }
}
#deathBubble{
    z-index: -1;
    border: solid var(--third-color) 5px;
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius:360px;
}
.smallEyeShoot{
    width: 30px;
    height: 30px;
    rotate: 45deg;
    border-radius: 90px 90px 0px 90px;
    z-index: 2;
    border-right: solid blue 3px;
    border-bottom: solid blue 3px;
    background-color: var(--third-color);
    position: absolute;
}
.bubbleImpactFrames{
    animation: beamImpact 0.3s forwards linear;
}
@keyframes beamImpact{
    0%{
        background-color: transparent;
    }
    20%{
        background-color: var(--secondary-color);
    }
    50%{
        background-color: var(--main-color);

        body{
            background-color: var(--secondary-color);
        }
    }
    100%{
        background-color: blue;
    }
}
.bubbleImpactFramesBody{
    animation: beamImpactBody 0.3s forwards linear;
}
@keyframes beamImpactBody{
    0%{
        background-color: var(--secondary-color);
    }
    20%{
        background-color: var(--main-color);
    }
    50%{
        background-color: var(--secondary-color);
    }
    100%{
        background-color: var(--main-color);
    }
}
.starLink{
    background-color: var(--third-color);
    width: 40px;
    height: 40px;
    position: absolute;
    transform: rotate(20deg);
    left: 20%;
    top: 20%;
}
.starLink:before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--third-color);
    transform: rotate(135deg);
}
#rotatingBallsCont{
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    max-height: 140px;
    position: absolute;
    border-radius: 90px;
    
    animation: spin 1.7s infinite linear;
}
.rotatingBalls{
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    position: absolute;
    border-radius: 90px;
    border: solid var(--secondary-color) 3px;
    animation: spin 1.7s infinite linear reverse;
}
.starLink .rotatingBalls:first-child{
    bottom: 0;
    right: 0;
}
.cross{
    background-color: var(--third-color);
    width: 18px;
    height: 5px;
    display: flex;
    justify-content: center;
    rotate: -20deg;
}
.crossVert{
    background-color: var(--third-color);
    position: relative;
    bottom: 8px;
    height: 28px;
    width: 4px;
}
#rotatingShield {
    min-width: 70px;
    min-height: 70px;
    border-radius: 90px;
    border: solid var(--secondary-color) 6px;
    border-style: double;
}
#pointerindicator{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
}
#pointerindicator #pointer{
    width: 20px;
    height: 10px;
    border-radius: 0 0 50% 50%;
    background-color: rgb(94, 92, 92);
    position: absolute;
    opacity: 0.5;
}
#sword{
    width: 15px;
    height: 45px;
    position: relative;
    bottom: 22px;
    border-radius: 0px  0px 90px 0px ;
    background-color: var(--secondary-color);
}
#sword::before{
    content: "";
    width: 65%;
    height: 95%;
    position: absolute;
    border-right: solid gray 3px;
    border-radius: 0px  0px 90px 0px ;
    left: 0;
    opacity: 0.9;
    background-color: var(--main-color);
}
.swordAttacking{
    animation: attack 0.3s;
}
@keyframes attack {
    50%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(45px);
    }
}
#swordHitBox{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
}
#beastCenteringCont{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
#beastCont{
    width: 30vw;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
#topJaw{
    background-color: gray;
    display: flex;
    flex-direction: column;
    min-height: 24vh;
}
#topTeethCont{
    height: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    top: 22.5%;
}
.topTeeth{
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid gray;
    margin: 0 2.3px;
}
#beastEyeCont{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 90px;
    position: relative;
    top: 10%;
    z-index: 2;
}
#topJaw .beastEye{
    min-width: 70px;
    min-height: 70px;
    max-height: 70px;
    border-radius: 90px;
    background-color: var(--main-color);
    position: relative;
}
.beastEye .pupil{
    background-color: var(--secondary-color);
    width: 25px;
    height: 25px;
    border-radius: 90px;
}
#beastEyeCont .beastEye:last-child .pupil{
    background-color: gray;
}
#topJaw .beastEye::before{
    content: "";
    position: absolute;
    min-width: 70px;
    min-height: 12px;
    background-color: var(--main-color);
    bottom: 100%;
    rotate: 30deg;
}
#topJaw .beastEye:first-child::before{
    left: 30%;
}
#topJaw .beastEye:nth-child(2)::before{
    right: 30%;
    rotate: -25deg;
}
#topJaw .beastEye:nth-child(2)::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 120px;
    rotate: 28deg;
    opacity: 0.7;
    background-color: rgb(109, 71, 71);
    z-index: -1;
    border-radius: 90px;
}
#bottomJaw{
    background-color: gray;
    min-height: 14vh;
    position: relative;
    top: 24%;
}
#bottomTeethCont{
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    position: relative;
    bottom: 29.4%;
}
.bottomTeeth{
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid gray;
}
.phase1AnimCont{
    animation: phase1AnimCont linear 7s infinite;
}
.phase1AnimTop{
    animation: phase1AnimTop linear 7s infinite;
}
.phase1AnimBottom{
    animation: phase1AnimBottom linear 7s infinite;
}
@keyframes phase1AnimCont{
    45%{
        rotate: 0deg;
    }
    50%{
        rotate: 25deg;
    }
    52%{
        rotate: 25deg;
    }
    60%{
        rotate: -25deg;
    }
    62%{
        rotate: -25deg;
    }
    72%{
        rotate: 0deg;
    }
}
@keyframes phase1AnimTop{
    12%{
        transform: translateY(5%);
    }
    45%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5%);
    }
    52%{
        transform: translateY(5%);
    }
    55%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(5%);
    }
    62%{
        transform: translateY(5%);
    }
    72%{
        transform: translateY(0);
    }
    76%{
        transform: translateY(2%);
    }
    79%{
        transform: translateY(0);
    }
    83%{
        transform: translateY(5%);
    }
    86%{
        transform: translateY(0);
    }
}
@keyframes phase1AnimBottom{
    12%{
        transform: translateY(-52%);
    }
    45%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-52%);
    }
    52%{
        transform: translateY(-52%);
    }
    55%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-52%);
    }
    62%{
        transform: translateY(-52%);
    }
    72%{
        transform: translateY(0);
    }
    76%{
        transform: translateY(-55%);
    }
    79%{
        transform: translateY(0);
    }
    83%{
        transform: translateY(-55%);
    }
    86%{
        transform: translateY(0);
    }
}
#reactor{
    width: 150px;
    height: 150px;
    background-color: turquoise;
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 180px;
    border: solid rgb(218, 148, 18) 15px;
}
#reactor .star{
    animation-duration: 8s;
}
.star #fissionBall{
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 90px;
    border: solid red 1px;
    z-index: 0;
}
#fissionParticleCont, #fissionParticleCounterCont{
    width: 30px;
    height: 30px;
    position: absolute;
}
#fissionParticleCont{
    animation: spin 2s infinite linear;
}
#fissionParticleCont .fissionParticle{
    position: relative;
    border: solid red 1px;
    border-radius: 90px;
}
#fissionParticleCont .fissionParticle:first-child{
    right: 14px;
}
#fissionParticleCont .fissionParticle:nth-child(2){
    left: 18px;
}
#fissionParticleCont .fissionParticle:nth-child(3){
    top: 12px;
}
#fissionParticleCont .fissionParticle:nth-child(4){
    bottom: 14px;
}
#fissionParticleCounterCont{
    animation: spinCounter 3s infinite linear;
}
#fissionParticleCounterCont .fissionParticleCounter{
    position: relative;
    border: solid blue 1px;
    border-radius: 90px;
}
#fissionParticleCounterCont .fissionParticleCounter:first-child{
    right: 16px;
}
#fissionParticleCounterCont .fissionParticleCounter:nth-child(2){
    left: 19px;
}
#fissionParticleCounterCont .fissionParticleCounter:nth-child(3){
    top: 16px;
}
#fissionParticleCounterCont .fissionParticleCounter:nth-child(4){
    bottom: 15px;
}
.reactorProjectile{
    background-color: orange;
    width: 15px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 55%;
    
}
.projecting{
    animation: projecting 2.5s linear;
}
@keyframes projecting{
    100%{
        transform: translateY(1500px);
    }
}
.projCont{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.enterMouthCont{
    animation: enterMouthCont 14s linear forwards;
}
.enterMouthTop{
    animation: enterMouthTop 14s linear forwards;
}
.enterMouthBottom{
    animation: enterMouthBottom 14s linear forwards;
}
@keyframes enterMouthCont{
    14%{
        scale: 500%;
        transform: translateY(-10%);
    }
    86%{
        scale: 500%;
        transform: translateY(-10%);
    }
}
@keyframes enterMouthTop{
    14%{
        transform: translateY(-10%);
    }
    30%{
        transform: translateY(-10%);
    }
    32%{
        transform: translateY(22%);
    }
    32.5%{
        transform: translateY(22%);
    }
    34.5%{
        transform: translateY(-10%);
    }
    50%{
        transform: translateY(-10%);
    }
    52%{
        transform: translateY(22%);
    }
    52.5%{
        transform: translateY(22%);
    }
    54.5%{
        transform: translateY(-10%);
    }
    70%{
        transform: translateY(-10%);
    }
    72%{
        transform: translateY(22%);
    }
    72.5%{
        transform: translateY(22%);
    }
    74.5%{
        transform: translateY(-10%);
    }
    86%{
        transform: translateY(-10%);
    }
}
@keyframes enterMouthBottom{
    14%{
        transform: translateY(15%);
    }
    30%{
        transform: translateY(15%);
    }
    32%{
        transform: translateY(-26%);
    }
    32.5%{
        transform: translateY(-26%);
    }
    34.5%{
        transform: translateY(15%);
    }
    50%{
        transform: translateY(15%);
    }
    52%{
        transform: translateY(-26%);
    }
    52.5%{
        transform: translateY(-26%);
    }
    54.5%{
        transform: translateY(15%);
    }
    70%{
        transform: translateY(15%);
    }
    72%{
        transform: translateY(-26%);
    }
    72.5%{
        transform: translateY(-26%);
    }
    74.5%{
        transform: translateY(15%);
    }
    86%{
        transform: translateY(15%);
    }
}
#shield{
    background-color: rgb(71, 164, 196);
    width: 50px;
    height: 70px;
    position: absolute;
    left: 20%;
    top: 20%;
    border: solid var(--main-color) 8px;
    border-radius: 0px 0px 100% 100%;
}
#emblem{
    width: 10px;
    height: 30px;
    background-color: var(--third-color);
    position: relative;
    bottom: 5px;
}
#emblem::after{
    content: "";
    background-color: var(--third-color);
    min-width: 30px;
    height: 10px;
}   
#brokenPart{
    width: 100px;
    height: 35px;
    position: relative;
    background-color: var(--main-color);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20%;
    border-radius: 10px;
    border: solid rgb(82, 80, 80) 3px;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    overflow: hidden;
}
#brokenPartJawLine{
    content: "";
    background-color: rgb(82, 80, 80);
    min-width: 30vw;
    height: 8px;
    position: absolute;
    top: 47.5%;
}
.goldenTendrils{
    background-color: var(--third-color);
    height: 100%;
    width: 2px;
    position: relative;
    display: flex;
    justify-content: center;
}
.goldenTendrils:nth-child(2)::before{
    content: "";
    background-color: var(--main-color);
    min-width: 3px;
    height: 10px;
    position: relative;
    top: 10px;
}
.goldenTendrils:nth-child(3){
    height: 14px;
    top: 22px;
}
.goldenTendrils:nth-child(5){
    height: 22px;
}
.enterCoreReactor{
    animation: enterCoreReactor 20s linear forwards;
}
.enterCoreTop{
    animation: enterCoreTop 9s linear forwards;
}
.enterCoreBottom{
    animation: enterCoreBottom 9s linear forwards;
}
@keyframes enterCoreReactor{
    50%{
        width: 120vw;
        height: 120vh;
    }
    90%{
        background-color: var(--secondary-color);
    }
    92%{
        background-color: transparent;
    }
    92.5%{
        background-color: var(--secondary-color);
    }
    93%{
        background-color: transparent;
    }
    93.5%{
        background-color: var(--secondary-color);
    }
    94%{
        background-color: transparent;
    }
    94.5%{
        background-color: var(--secondary-color);
    }
    95%{
        background-color: transparent;
    }
    100%{
        width: 120vw;
        height: 120vh;
        background-color: transparent;
    }
}
@keyframes enterCoreTop{
    100%{
        transform: translateY(-1200px);
    }
}
@keyframes enterCoreBottom{
    100%{
        transform: translateY(1000px);
    }
}
#playerDetailsCont{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    position: absolute;
    overflow: hidden;
}
#suit{
    position: absolute;
    background-color: var(--main-color);
    height: 40%;
    width: 100%;
    bottom: -1%;
    border: solid gray 2px;
    z-index: 2;
}
#suit #zipper{
    background-color: gray;
    width: 2px;
    height: 100%;
    
}
#buttonCont{
    position: absolute;
    height: 60%;
    width: 12px;
    flex-wrap: wrap;
    gap: 4px;
    top: 10%;
}
.button{
    background-color: rgb(216, 213, 213);
    border-radius: 90px;
    height: 4px;
    width: 4px;
}
#glasses{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}
.glass{
    background-color: var(--main-color);
    width: 20px;
    height: 15px;
    border-radius: 20% 20% 40% 40%;
}
#frame{
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
    height: 6px;
    top: 20%;
}
#mustache{
    background-color: rgb(97, 27, 27);
    width: 23px;
    height: 6px;
    position: relative;
    bottom: 1px;
    border-radius: 20% 20% 0 0;
    z-index: 2;
}
#mustache::before{
    content: "";
    background-color: rgb(97, 27, 27);
    width: 6px;
    height: 10px;
    position: absolute;
    border-radius: 30%;
    top: 10%;
}
#mustache::after{
    content: "";
    background-color: rgb(97, 27, 27);
    width: 6px;
    height: 10px;
    position: absolute;
    border-radius: 30%;
    top: 10%;
    right: 0;
}
#playerBackground{
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
    border-radius: 90px;
    z-index: 1;
}
#deathScreen{
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    width: 100vw;
    height: 15vh;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    justify-content: center;
    align-items: center;
}
#deathText{
    color: red;
    font-size:90px;
}
#restartButton{
    position: absolute;
    color: red;
    top: 80%;
}
#restartButton:hover{
    text-decoration: underline;
    cursor: pointer;
}
#shotgunCont{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#shotgun{
    background-color: #9b7e5d;
    position: relative;
    right: 25px;
    bottom: 10px;
    width: 35px;
    height: 10px;
    border-radius: 0px 0px 50px 0px;
    scale: 150%;
}
#shotgun::before{
    content: "";
    background-color: gray;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: -50%;
    border-radius: 4px 0px 4px 0px;
}
#shotgun::after{
    content: "";
    background-color: gray;
    width: 10px;
    height: 6px;
    bottom: 10%;
    left: -27%;
    position: absolute;
}
#shotgunDecoration{
    position: relative;
    right: 5px;
    width: 14px;
    height: 7px;
    display: flex;
    justify-content: space-evenly;
}
#shotgunStripe{
    background-color: var(--main-color);
    height: 100%;
    width: 1px;
}
#shotgunDecoration::before{
    content: "";
    border: solid var(--main-color) 1px;
    width: 2px;
    height: 2px;
    position: absolute;
    right: -75%;
    top: -65%;
    border-radius: 90px 0 0 0;
}
#shotgunDecoration::after{
    content: "";
    background-color: var(--main-color);
    width: 2.5px;
    height: 1px;
    position: absolute;
    top: 45%;
    left: -108%;
    z-index: 2;
}
#shotgunBullet{
    background-color: gold;
    width: 15px;
    height: 6px;
    border-radius: 100% 0 0 100%;
    position: absolute;
    overflow: hidden;
}
#shotgunBullet::before{
    content: "";
    background-color: gray;
    width: 2px;
    height: 10px;
    position: absolute;
    left: 30%;
}
.shottyBulletMove{
    animation: shot 3s linear forwards;
}
@keyframes shot{
    99%{
        opacity: 1;
    }
    100%{
        transform: translateX(-2500px);
        opacity: 0;
    }
}
#bulletRotatingCont{
    position: absolute;
    z-index: -1;
}
.backDecoration{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 2px;
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0.5;
}
.backDecoration::before{
    content: "";
    height: 6px;
    width: 2px;
}
.blue::before{
    background-color: blue;
}
.green::before{
    background-color: yellow;
}
.pink::before{
    background-color: rgb(143, 9, 9);
}
.backgroundScroller{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.firstType{
    animation: scroller1 linear infinite;
}
.secondType{
    animation: scroller2 linear infinite;
    transform: translate(100%, 0%)
}
@keyframes scroller1{
    50%{
        transform: translate(-100%, 0);
    }
    50.01%{
        transform: translate(100%, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}@keyframes scroller2{
    100%{
        transform: translate(-100%, 0%);
    }
}
.blueCont{
    animation-duration: 22s;
}
.redCont{
    animation-duration: 20s;
}
.yellowCont{
    animation-duration: 18s;
}
#blackHole{
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
#blackHoleDecoration{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 600px;
    opacity: 0.8;
    border: solid rgb(240, 240, 88) 10px;
}
#blackHoleDecoration::before{
    content: "";
    width: 515px;
    height: 515px;
    border: solid red 8px;
    border-radius: 600px;
    opacity: 0.6;
}
.blackHoleProjectile{
    height: 20px;
    width: 7px;
    position: absolute;
    animation: suck 4s linear;
    border-radius: 90px;
    border-radius: 90px 0 0 90px;
    background-color: var(--secondary-color);
}
.blackHoleProjectile::before{
    content: "";
    width: 65%;
    height: 150%;
    position: absolute;
    border-right: solid gray 3px;
    border-radius: 90px 0 0 90px;
    left: 0;
    opacity: 0.9;
    background-color: var(--main-color);
}
@keyframes suck{
    50%{
        transform: translateY(400px);
    }
    75%{
        transform: translateY(400px);
    }
    100%{
        
    }
}
.collapseHole{
    animation: collapseHoler 1.8s linear forwards;
}
@keyframes collapseHoler{
    100%{
        scale: 0%;
    }
}
#realClock{
    background-color: var(--main-color);
    width: 600px;
    height: 600px;
    opacity: 0.5;
    border-radius: 360px;
    border: solid gold 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}
#realClock::before{
    content: "";
    background-color: gold;
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 360px;
}
.showClock{
    animation: showClocker 7s forwards linear;
}
@keyframes showClocker{
    50%{
        opacity: 0.4;
    }
}
.clockNumber{
    color: silver;
    font-size: 40px;
    position: absolute;
}
#c12{
    top: 0;
}
#c1{
    top: 8%;
    right: 27%;
}
#c2{
    top: 21%;
    right: 13%;
}
#c3{
    right: 5%;
}
#c4{
    bottom: 21%;
    right: 13%;
}
#c5{
    bottom: 8%;
    right: 27%;
}
#c6{
    bottom: 0%;
}
#c7{
    bottom: 8%;
    left: 27%;
}
#c8{
    bottom: 21%;
    left: 13%;
}
#c9{
    left: 5%;
}
#c10{
    top: 21%;
    left: 13%; 
}
#c11{
    top: 8%;
    left: 27%;
}
#hourHand{
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.hourSpin{
    animation: spinHour 7s ease-in infinite;
}
#hourHand::before{
    content: "";
    background-color: gold;
    height: 50%;
    width: 20px;
    position: absolute;
    border-radius: 70% 70% 0 0;
}
#minuteHand{
    position: absolute;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
}
.minuteSpin{
    animation: spinMinute 7s ease-in infinite;
}
#minuteHand::before{
    content: "";
    background-color: gold;
    height: 50%;
    width: 10px;
    position: absolute;
    border-radius: 70% 70% 0 0;
}
@keyframes spinHour{
    100%{
        rotate: 980deg;
    }
}
@keyframes spinMinute{
    100%{
        rotate: 8640deg;
    }
}
.speedEffect{
    animation: speedy 2s linear;
}
@keyframes speedy{
    50%{
        background-color: var(--main-color);
    }
}
#eyeHealthBar{
    position: absolute;
    color: var(--secondary-color);
    font-size: 32px;
    bottom: -200px;
}
#topPillarCont{
    position: absolute;
    top: -61%;
    rotate: 180deg;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
}
#bottomPillarCont{
    position: absolute;
    top: 111%;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
}
.buddhistPillar{
    background-color: #694d26;
    width: 300px;
    height: 50vh;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
}
.pillarHitBox{
    background-color: #694d26;
    width: 280px;
    height: 10vh;
    border-radius: 20px;
    position: absolute;
    top: -21.5%;
}
.pillarHitBox::after{
    content: "";
    border: solid 4px #423119;
    border-top: none;
    border-bottom: none;
    width: 260px;
    height: 8vh;
    border-radius: 20px;
}
.pillarHitBox::before{
    content: "";
    background-color: #423119;
    width: 220px;
    height: 5vh;
    z-index: -1;
    position: absolute;
    bottom: -10%;
}
.pillarMoving{
    animation: movePillar linear 1.5s;
}
@keyframes movePillar{
    50%{
        transform: translateY(-100%);
    }
    55%{
        transform: translateY(-100%);
    }
}
#beastArenaCont{
    z-index: -3;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.gear{
    width: 200px;
    height: 200px;
    position: absolute;
    left: -5%;
    top: -5%;
    border: solid gray 30px;
    border-radius: 100%;
    animation: spin linear 8s infinite;
    z-index: -1;
}
.gear::before{
    content: "";
    background-color: #464444;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    position: absolute;
}
.gear .star{
    animation: none;
    scale: 50%;
    background-color: var(--main-color);
}
.gear .star::before{
    content: none;
}
.gear .star::after{
    background-color: var(--third-color);
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
}
.gear:nth-child(2){
    top: 80%;
    animation: spinCounter linear 8s infinite;
}
.gear:nth-child(3){
    top: 85%;
    left: 8%;
    scale: 70%;
}
.gearPoint{
    background-color: gray;
    width: 50px;
    height: 40px;
    position: absolute;
}
.gearPoint:first-child{
    top: -30%;
}
.gearPoint:nth-child(2){
    bottom: -30%;
}
.gearPoint:nth-child(3){
    right: -32%;
    rotate: 90deg;
}
.gearPoint:nth-child(4){
    left: -32%;
    rotate: 90deg;
}
.gearer{
    width: 200px;
    height: 200px;
    border: solid rgb(83, 80, 80) 30px;
    border-radius: 100%;
    position: absolute;
    rotate: 45deg;
}
#chainCont{
    width: 15vw;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.chainPoint{
    width: 90%;
    height: 15%;
    background-color: rgb(78, 78, 78);
    position: absolute;
    border-radius: 0 0 30px 30px;
}
.chainPoint:nth-child(2){
    bottom: 0;
    border-radius: 30px 30px 0 0;
}
#chain{
    width: 50%;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
    z-index: -2;
    animation: chainReaction 15s infinite linear;
}
@keyframes chainReaction {
    5%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-1000px);
    }
    60%{
        transform: translateY(-1000px);
    }
}
.chainCircle{
    width: 56px;
    height: 68px;
    position: relative;
    bottom: 20%;
    border: solid gray 16px;
    border-radius: 38%;
    display: flex;
    justify-content: center;
}
.chainCircle::before{
    content: "";
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 70px;
    border-radius: 20px;
    top: -80%;
}
#lavaPoolCont{
    width: 70vw;
    height: 13vh;
    position: absolute;
    bottom: 0;
    right: 14%;
    display: flex;
    align-items: last baseline;
    justify-content: end;
}
#leftEdge{
    background-color: rgb(78, 78, 78);
    width: 5vw;
    height: 100%;
    position: absolute;
    left: 0;
    border-top: solid rgb(58, 55, 55) 6px;
}
#bottomEdge{
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: 4vh;
    position: absolute;
    bottom: 0;
}
#lavaPool{
    background-color: red;
    width: 95%;
    height: 100%;
    --mask:
    radial-gradient(53.68px at 50% 72.50px,#000 99%,#0000 101%) calc(50% - 50px) 0/100px 100%,
    radial-gradient(53.68px at 50% -47.5px,#0000 99%,#000 101%) 50% 25px/100px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    z-index: -1;
}
.topStartAnimation{
    animation: topStartAnimation 15s linear;
}
.bottomStartAnimation{
    animation: bottomStartAnimation 15s linear;
}
.reactorStartAnimation{
    animation: reactorStartAnimation 15s linear;
}

@keyframes topStartAnimation{
    0%{
        transform: translate(-20%, -330%);
        rotate: 110deg;
    }
    80%{
        transform: translate(-20%, -330%);
        rotate: 110deg;
    }
}
@keyframes bottomStartAnimation{
    0%{
        transform: translate(-75%, 185%);
        rotate: 15deg;
    }
    80%{
        transform: translate(-75%, 185%);
        rotate: 15deg;
    }
}
@keyframes reactorStartAnimation{
    25%{
        background-color: blue;
    }
    30%{
        background-color: red;
    }
    35%{
        background-color: purple;
    }
    20%{
        width: 150px;
        height: 150px;
    }
    70%{
        width: 400px;
        height: 400px;
    }
}
#startScreenCont{
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}
#startButtonCont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#gameTitle{
    width: 70%;
    text-align: center;
    font-size: 80px;
    color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    border-bottom: solid var(--secondary-color) 10px;
    background-color: var(--main-color);
}
#startButtonCont #chain{
    animation: none;
    position: absolute;
    scale: 40%;
    z-index: -2;
    top: -33.5%;
}
#startButtonCont #chain .chainCircle{
    border-color: #353331;
}
#startButtonCont #chain .chainCircle::before{
    background-color: #353331;
}
.mainButton{
    width: 40%;
    height: 10%;
    background-color: transparent;
    border: solid gray 3px;
    color: var(--secondary-color);
    font-size: 40px;
    background-color: var(--main-color);
}
.mainButton:hover{
    background-color: rgb(29, 28, 28);
}
#winScreenCont{
    background-color: rgba(0, 0, 0, 0.753);
    width: 30vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
    color: var(--secondary-color);
    gap: 2em;
}
#winScreenCont h1{
    font-size: 60px;
    margin: 1em 0;
}
#finalScore{
    font-size: 32px;
}
label{
    margin: 20px 0;
}
input{
    background-color: transparent;
    color: var(--secondary-color);
}
#toStart:hover{
    text-decoration: underline;
    cursor: pointer;
    color: green;
}
#leaderboardCont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 40vw;
    color: var(--secondary-color);
    font-size: 25px;
    background-color: var(--third-color);
}
#leaderboard{
    background-color: var(--main-color);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: scroll;
    padding: 10px;
}
.boardElement{
    background-color: var(--main-color);
    border: solid gray 2px;
    width: 99%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boardElement .deleteBtn:hover{
    background-color: rgb(255, 0, 0);
}

.playerName, .playerTime, .playerDate{
    width: 100%;
    text-align: center;
}
#toStartFrom{
    position: absolute;
    bottom: -10%;
}
#settingsCont #toStartFrom{
    bottom: 2%;
    color: var(--secondary-color);
    font-size: 20px;
}
#toStartFrom:hover{
    text-decoration: underline;
    cursor: pointer;
}
#boardTopText{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 70px;
    margin: 10px 0;
}
#nameSave{
    margin: 0;
}
#nameSave:hover{
    text-decoration: underline;
    cursor: pointer;
}
#settingsCont{
    background-color: #2e2d2d;
    border: solid rgb(32, 32, 32) 12px;
    border-radius: 50px;
    width: 40vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
}
#settingsCont #chain{
    animation: none;
    position: absolute;
    transform: rotate(49.5deg);
    z-index: -1;
    scale: 50%;
}
#settingsCont #chain:last-child{
    transform: rotate(-49.5deg);
}
#settingsCont #chain .chainCircle{
    border-color: #444342;
}
#settingsCont #chain .chainCircle::before{
    background-color: #444342;
}
#toggleablesCont, #miscCont{
    width: 80%;
    height: 60%;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.555);
    border: solid var(--main-color) 6px;
    border-radius: 40px;
    flex-direction: column;
}
.cornerBall{
    width: 90px;
    height: 90px;
    position: absolute;
    background-color: rgb(32, 32, 32);
    border-radius: 50px;
}
.cornerBall:first-child{
    top: -6%;
    left: -6%;
}
.cornerBall:nth-child(2){
    top: -6%;
    right: -6%;
}
.cornerBall:nth-child(3){
    bottom: -6%;
    left: -6%;
}
.cornerBall:nth-child(4){
    bottom: -6%;
    right: -6%;
}
#settingsChainCont{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
#colorBlindModeFilter{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 95, 95);
    opacity: 0.1;
    z-index: 20;
    pointer-events: none;
}
#skullCont{
    background-color: var(--main-color);
    width: 55px;
    height: 40px;
    border-radius: 20px;
    flex-direction: column;
    position: absolute;
    border: solid var(--secondary-color) 2px;
    z-index: 2;
}
#skullEyeCont{
    width: 40px;
    height: 15px;
    position: relative;
    justify-content: space-evenly;
    gap: 10px;
    top: 4px;
}
.skullEye{
    background-color: var(--secondary-color);
    border-radius: 90px;
    width: 12px;
    height: 18px;
}
#skullNose{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid var(--secondary-color);
    position: relative;
    z-index: 2;
    bottom: 2px;
    scale: 70%;
}
#skullNose::before{
    content: "";
    position: relative;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid var(--main-color);
    top: 7px;
}
#skullJaw{
    background-color: var(--main-color);
    width: 30px;
    height: 12px;
    position: absolute;
    border-radius: 5px;
    bottom: -10px;
    border: solid var(--secondary-color) 2px;
    border-top: none;
    justify-content: space-evenly;
}
#skullJaw::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 80%;
    height: 2px;
}
.skullTooth{
    background-color: var(--secondary-color);
    width: 2px;
    height: 60%;
}
#bonesCont{
    width: 90px;
    height: 90px;
    position: absolute;
}
.bone{
    background-color: var(--main-color);
    height: 100%;
    width: 8px;
    position: absolute;
    border: solid var(--secondary-color) 2px;
    rotate: 45deg;
}
#bonesCont .bone:last-child{
    rotate: -45deg;
}
.bonePoint{
    position: absolute;
    width: 16px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 4px;
    border: solid var(--secondary-color) 2px;
}
.bone .bonePoint:first-child{
    top: -8%;
}
.bone .bonePoint:last-child{
    bottom: -8%;
    rotate: 180deg;
}
#skullPortrait{
    background-color: #353331;
    border: solid black 5px;
    border-top: none;
    border-bottom: none;
    width: 65%;
    height: 70%;
    border-radius: 30px;
}
#crownCont{
    top: -10%;
    position: absolute;
    width: 60px;
    height: 70px;
    right: -4%;
    rotate: 30deg;
    scale: 120%;
}
#crownBase{
    width: 100%;
    height: 20%;
    background-color: var(--third-color);
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}
#crownRedPart{
    background-color: red;
    width: 90%;
    position: absolute;
    height: 60%;
    top: bottom 20%;
    border-radius: 10px 10px 0 0;
}
#goldDot{
    position: absolute;
    background-color: var(--third-color);
    width: 20px;
    height: 20px;
    border-radius: 90px;
    top: -5%;
}
#goldDot::before{
    background-color: var(--third-color);
    height: 300%;
    width: 6px;
    content: "";
    position: absolute;
    bottom: -210%;
}
#goldDot .cross{
    rotate: 0deg;
    position: absolute;
    top: -70%;
    scale: 80%;
}
.crownArch{
    border: solid var(--third-color) 6px;
    border-right: none;
    border-bottom: none;
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 90px 60px 90px 60px;
    z-index: 2;
    rotate: -30deg;
}
.crownArch:first-child{
    bottom: 70%;
    right: 30%;
}
.crownArch:last-child{
    border: solid var(--third-color) 6px;
    border-left: none;
    border-bottom: none;
    bottom: 70%;
    left: 30%;
    rotate: 30deg;
    border-radius: 60px 90px 60px 90px;
}
#sortShit{
   z-index: 3;
   background-color: gray;
   width: 100%;
   height: 30px;
}
.deleteBtn{
    width: 15%;
    height: 100%;
    border-right: solid gray 2px;
}
.deleteBtn::before, .deleteBtn::after{
    content: "";
    position: absolute;
    background-color: gray;
    rotate: 40deg;
    width: 3px;
    height: 25px;
}
.deleteBtn::after{
    rotate: -40deg;
}

#filler{
    width: 15%;
    height: 100%;
}
#playerSorter, #timeSorter, #dateSorter{
    cursor: pointer;
}
#playerSorter:hover, #timeSorter:hover, #dateSorter:hover{
    background-color: gray;
}