.eventwrap{
    width: 40vw;
    height: 82vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "P H"
    "P G"
    "B B";
    ;
    background-color:rgb(25, 24, 24);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}
.choicewrap{
    width: 58vw;
    height: 82vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "P H"
    "P G"
    "P B";
    ;
    background-color:rgb(25, 24, 24);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}
#good{
    grid-area: B2;
}
#eventpic1{
    grid-area: P;
    width: 15em;
    margin-top: 25px;
    height: 25em;
    scale: 85%;
    aspect-ratio: 1000 / 1359;
    border: solid gray 3px;
}
#eventpic2{
    grid-area: P;
    width: 15em;
    margin-top: 25px;
    height: 25em;
    scale: 85%;
    aspect-ratio: 1000 / 1359;
    border: solid gray 3px;
}
.eventhead{
    grid-area: H;
    margin-top: 50px;
}
.eventparagraf1, .eventparagraf2{
    grid-area: G;
    margin: 0;
}
.eventbtn{
    grid-area: B;
    height: 30px;
    background-color: gray;
    font-weight: bold;
    margin: 0 50px;
}
